<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid first-nav" style="direction: rtl;">
      <a class="logo" href="#"><img src="../../../../assets/images/Path 224.png" alt=""></a>

        <form class="d-flex search-input">
          <button class="btn search-btn" type="submit"><img src="../../../../assets/images/search_icon_152764.png" alt=""></button>
          <input class="form-control" type="search" placeholder="عم تبحث ؟" aria-label="Search">
        </form>
        <button class="btn profile-btn mx-3"><img src="../../../../assets/images/person-24px.png" alt=""></button>
        <button class="btn cart-btn"><span>سلة التسوق</span> <img src="../../../../assets/images/shopping_cart-24px.png" alt=""> <span class="cart-count">{{cartCount}}</span></button>
  </div>

  <div class="container-fluid second-nav" style="direction: rtl;">
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button class="dropbtn">الأقسام <span class="material-symbols-outlined">expand_more</span></button>
          <div class="dropdown-content">
            <a href="#">ملابس</a>
            <a href="#">اكسسورات</a>
            <a href="#">تكنولوجيا</a>
          </div>
        </div>
      </div>
      <div class="col"><a href=""><span>الرئيسية</span></a></div>
      <div class="col"><a href=""><span>قائمة الأمنيات</span></a></div>
      <div class="col"><a href=""><span>تواصل معنا</span></a></div>
      <div class="col"><a href=""><span>من نحن</span></a></div>
    </div>
  </div>

</nav>
