.title{
  font-family: "Cairo";
  font-weight: bold;
  direction: rtl;
  margin-right: 10px;
}

.btn:hover {
  border-color: transparent !important;
}

.products {
  display: flex;
  justify-content: center;
}

.card {
  direction: rtl;
  margin: 10px;
  border: none;
}

.card .card-img-top {
  margin: auto;
  display: block;
}

.card-img-overlay {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: fit-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.add-to-compare span {
  font-family: 'Cairo';
  font-weight: normal;
  font-size: 10pt;
  border-radius: 5px;
  background-color: #5A4C7A;
  color: #FFFFFF;
  padding: 3px 15px;
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 4px;
}

.add-to-compare{
  display: none;
}

.compare-btn{
  height: fit-content;
}

.compare-btn:hover .add-to-compare{
  display: block;
}

.gdid{
  height: fit-content;
}

.gdid span {
  font-family: 'Cairo';
  font-weight: normal;
  font-size: 10pt;
  border-radius: 20px;
  background-color: #23104E;
  color: #FFFFFF;
  padding: 3px 15px;
  cursor: pointer;
}

.card-body {
  z-index: 9999;
  font-family: 'Cairo';
  font-weight: bold;
  padding: 16px 5px;
}

.card-text {
  font-weight: normal;
}


.price {
  display: block;
  direction: rtl;
  font-weight: bold;
}

.cardfooter {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  font-family: 'Cairo';
  font-weight: normal;
  font-size: 14pt;
  color: #302CA2;
  background-color: #EFEEF8;
  padding: 0;
}

.cart-btn:hover {
  color: #302CA2;
  background-color: #EFEEF8;
}

@media screen and (max-width:1024px) {
  .card .card-img-top {
    margin: auto;
    width: 200px;
    display: block;
  }
}
