<p class="title">منتجات تصفحتها مؤخرا</p>

<div class="products row">
  <div class="card shadow-sm" *ngFor="let product of productArray">
    <div class="row">
      <div class="col-md-6" style="position: relative;">
        <img src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-img-overlay">
          <a href="" class="compare-btn">
            <img src="../../../../assets/images/compare_arrows_black_24dp.png" alt="">
            <div class="add-to-compare"><span>أضف للمقارنة</span></div>
          </a>
          <div class="gdid"><span>جديد</span></div>
        </div>
      </div>


      <div class="col-md-6" style="z-index: 999999999;">
        <div class="card-body">
          <p class="card-title">{{product.title}}</p>
          <p class="card-text">{{product.description}}</p>
          <span class="price">{{product.price}} ج.م</span>
          <div class="cardfooter">
            <button class="btn cart-btn">
              <img src="../../../../assets/images/add_shopping_cart-black-18dp.png" alt="">
            </button>
            <app-favourite></app-favourite>
            <a href="" class="btn share-btn"><img src="../../../../assets/images/share-24px.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
